# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
# Visual Studio cache files
vs/
.vs/
# Test results
[Tt]est[Rr]esult*/
*.trx
*.VisualState.xml
# NuGet Packages
*.nupkg
**/packages/*
# Others
*.log
*.tmp
*.pdb
*.cache